/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/

body{
    background-color: #f0f0f0;
}

main{
    width: 100%;
}
h1{
    margin-top: 20px;
}
h2{
    margin-top: 20px;
}
h1 ,h2{
    font-family: 'Anton', sans-serif;
    text-align: center;
}
h5{
    font-family: 'Abel', sans-serif;
}


.select-work{
    padding: 50px 0 20px 0;

}
nav a {
    font-size: .75em;
    color: black;
}

.nav-background{
    background-color: white;

}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;

}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

.dot {
    height: 105px;
    width: 105px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 7px solid white;
    padding: 25px;
}

.tdots{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 0 0 0;


}

.sdot{
    height: 18px;
    width: 18px;

}
span{
    font-family: 'Anton', sans-serif;
}

.dot-margin{
    margin-left: 65px;
}

.bgtl{
    background-color: #e6563b;
    color: white;
}
.bgtr{
    background-color: #dea03d;
    color: white;
}
.bgbl{
    background-color: #7cb06c;
    color: white;
}
.bgbr{
    background-color: #00aba9;
    color: white;
}

.bgtl, .bgtl2{
    background-color: #e6563b;
    color: white;
    margin-right: 10px;
    font-size: 20px;
}
.bgtr, .bgtr2{
    background-color: #dea03d;
    color: white;
    margin-left: 10px;
}
.bgbl, .bgbl2{
    background-color: #7cb06c;
    color: white;
    margin-right: 10px;
}
.bgbr, .bgbr2{
    background-color: #00aba9;
    color: white;
    margin-left: 10px;
}

.card-img-top {
    border: 5px solid #e6e6e6;
    border-radius: 2%;
}

.card {
    background-color: #f0f0f0;
    border: none;

}
.card-spacing {
    margin: auto;

}
